{
    "**/*.{md}": [
        "prettier --write",
        "git add"
    ],
    "./api/**/*.{ts,tsx}": [
        "npm run lint",
        "prettier --parser typescript --write",
        "git add"
    ],
    "./app/**/*.{ts,tsx}": [
        "npm run app:lint",
        "prettier --parser typescript --write",
        "git add"
    ]
}
